<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<body>    
    <div class="row">
        <div class="row">
            <%= render partial: "layouts/left_col", :locals => {select_item: "Profile"} %>
            <div class="col-md-11 col-sm-11 col-xs-10" style=" overflow: hidden;">
                <div class="right-col">
                    <div class="row navi-bar" style="height: 72px;">
                        <div class="bar">
                            <div class="row menu-nav-bar" style="margin-top: 5px;margin-bottom: 15px;">
                                
                            </div>    
                        </div>    
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="profile">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <%= form_for @user, url:password_path do |f| %>
                                        <fieldset>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <div class="password">
                                                        <%= f.password_field :current_password , class:"profile-box", placeholder:"Current password"%>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <div class="error">
                                                        <p id="current_password" class="error-message"></p>
                                                    </div>
                                                </div>    
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <div class="password">
                                                        <%= f.password_field :new_password , class:"profile-box", placeholder:"new password"%>
                                                    </div>
                                                </div>    
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <div class="error">
                                                        <p id="new_password" class="error-message"></p>
                                                    </div>
                                                </div> 
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <div class="password">
                                                        <%= f.password_field :confirm_password , class:"profile-box", placeholder:"confirm password"%>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <div class="error">
                                                        <p id="confirm_password" class="error-message"></p>
                                                    </div>
                                                </div> 
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6 col-xs-6">
                                                    <div class="updatePassword">
                                                        <%= f.submit "Update", class:"profile-submit", id:"updatePasswordButton"%>
                                                    </div>
                                                </div>    
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6 col-xs-6">
                                                    <div class="backtoProfile">
                                                        <%= link_to profile_path do %>
                                                            
                                                            Back    
                                                        <% end %>
                                                    </div>
                                                </div>    
                                            </div>
                                        </fieldset>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
    $(document).ready(function(){
        $('.dropdown-toggle').dropdown();
    });
    </script>
    <script>
        $('#updatePasswordButton').on('click', function(e){
           var user_c_pas =  $("#user_current_password").val();
           var user_n_pas  = $("#user_new_password").val();
           var user_con_pas = $("#user_confirm_password").val();
           if(user_c_pas == ""){
                e.preventDefault();
               $('#current_password').css("display","block")
               $('#current_password').text("Current password is missing");
               $('#current_password').fadeOut(4000);
           }
           if (user_n_pas == "") {
            e.preventDefault();
            $('#new_password').css("display","block")
            $('#new_password').text("New password is missing");
            $('#new_password').fadeOut(4000);
           }
           if(user_con_pas == ""){
            e.preventDefault();
            $('#confirm_password').css("display","block")
            $('#confirm_password').text("confirm password is missing");
            $('#confirm_password').fadeOut(4000);
           }
        })
    </script>
</body>   